---
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Layout from '../layouts/Layout.astro';
import ProfileCheck from "../components/icons/ProfileCheck.astro"
import AboutMe from "../components/AboutMe.astro"
import SocialPill from '../components/SocialPill.astro';
import LinkedInIcon from '../components/icons/LinkedInIcon.astro';
import InfojobsIcon from '../components/icons/InfojobsIcon.astro';
import GitHubicon from '../components/icons/GitHubicon.astro';
import Mail from '../components/icons/Mail.astro'
import Experience from '../components/Experience.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import Historial from '../components/Historial.astro';
import BookIcon from '../components/icons/BookIcon.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from "../components/Projects.astro";





---
<Layout
  title="Porfolio de Joan Domenech Picó - Desarrollador y Programador Web con 1 año de experiencia"
  description="Contrata a Joan Domenech Picó para crear tu aplicación web o Back-end. Desarrollador back-end"
>
	<main>

		<SectionContainer class="py-20 pb-12">

		<img class="rounded-full size-16 py-1 mb-4" 
    		src="image_profesional.png"  
    		alt="foto_personal" />
			<div
			class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
		  >
		<h1 class="text-white-900 dark:text-white text-2xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4 lg:pb-10"
			>Hey, soy Joan Domenech Pico 
			<a href="https://www.linkedin.com/in/joan-domenech-pic%C3%B3-8a03b518b/" 
			target="_black"  rel="noopener" class="flex justify-end .">
			<Badge >Disponible para Trabajar</Badge></a></h1>
			<p class="text-2xl  opacity-80 text-wrap" ><span class="font-semibold  dark:text-white/80"><strong> Desarrollador Back-end</strong> </span> con dotes de innovación y resolución de problemas.
			Me especializo en el área de <strong> análisis de datos, diseño con bases de datos relacionales </strong>y tengo experiencia en la  preparación de documentación técnica. 
			<strong>Con incorporación inmediata,deseo unirme a un equipo talentoso y motivador.</strong> 
			</p>
			</div>

			<nav class="flex gap-x-2 mt-4">
				<SocialPill href="https://www.linkedin.com/in/joan-domenech-pic%C3%B3-8a03b518b/">
					<LinkedInIcon class="size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://www.infojobs.net/candidate/cv-views/index.xhtml?dgv=2842974906100851961">
					<InfojobsIcon class="size-6" />
					Infojobs
				</SocialPill>
				<SocialPill href="https://github.com/joandomen" >
					<GitHubicon class="size-6" />
					Git Hub
				</SocialPill>
				<SocialPill href="joanpico3@gmail.com">
					<Mail class="size-6" />
					joanpico3@gmail.com
				</SocialPill>

			</nav>	
	</sectionContainer>	
	<SectionContainer id="experiencia" >
		<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center dark:text-white/80 ">
			<Briefcase class="size-7" />
			Experiencia Laboral
		</h2>
		<Experience />
	</SectionContainer>

	<SectionContainer id="historial" >
		<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center dark:text-white/80 ">
			<BookIcon class="size-7" />
			Historial Académico
		</h2>
		<Historial />
	</SectionContainer>

	<SectionContainer id="proyectos">
		<h2
		  class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white/80 dark:text-white"
		>
		  <CodeIcon class="size-7" />
		  Proyectos
		</h2>
		<Projects />
	  </SectionContainer>
  
	  <SectionContainer id="sobre-mi">
		<h2
		  class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-white/80 dark:text-white"
		>
		  <ProfileCheck class="size-8" />
		  Sobre mi
		</h2>
		<AboutMe />
	  </SectionContainer>
	</main>
	
</Layout>