---
 const personalImageAlt = "Joan Domenech Picó"
---

<article class="flex flex-col items-center justify-center gap-8 text-white-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Joan Domenech Picó <strong>Técnico Administrador en Sistemas Operativos en Red
        y Desarollador Back-End</strong>, tengo 24 años. Actualmente estoy buscando nuevas tecnología. Las tecnología que yo utilizo son: <strong
        > PL/SQL,Power BI,CSS3/HTTML5,JavaScript,PHP,Astro</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >colaborar con OFSAA para el desarrollo de los metodos  en su
        sistema KYC.</strong
      >. Aunque ahora estoy buscando nuevos proyectos.
    </p>

    <p>
      En las areas que me especializo <strong
        >Conocimiento de bases de datos.
        Plataformas en la nube,
        Software de hoja de cálculo,
        Resolución de problemas,
        Infraestructuras básicas en Red,
        Pruebas y depuración de software. <em class="italic">Software & Game Development</em> en Twitch</strong
      >. Mi objetivo es mejorar en todos los conocimiento adquiridos en la actualidad.
    </p>
  </div>

  <img width="200" height="200" src="/image_profesional.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>
